<!doctype html>
<html lang="en">
  <head>
    <title>Admin Page</title>
  </head>
  <body>
    <h1>Please provide the details of the person to send the document for signing.</h1>
    <form method="post" action="/generate_singing_url">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name"><br><br>
      <label for="email">Email:</label><br>
      <input type="text" id="email" name="email"><br><br>
      <label for="document">Document:</label><br>
      <input type="text" id="document" name="document"><br><br>
      <input type="submit" value="Send Document for Signature">
    </form>
  </body>
</html>